.flipbook-viewport {
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flipbook-viewport .container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}

/* ===== Tamaño base original (Usado por turn.js para la proporción interna) ===== */
.flipbook-viewport .flipbook {
  width: 922px;
  height: 600px;
  margin: auto;
  position: relative;
}

.flipbook-viewport .page {
  background-color: white;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.flipbook .page {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.flipbook2 .page {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.flipbook3 .page {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.flipbook4 .page {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.flipbook-viewport .page img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
}

.flipbook-viewport .shadow {
  -webkit-transition: -webkit-box-shadow 0.5s;
  -moz-transition: -moz-box-shadow 0.5s;
  -o-transition: -webkit-box-shadow 0.5s;
  -ms-transition: -ms-box-shadow 0.5s;
  -webkit-box-shadow: 0 0 20px #ccc;
  -moz-box-shadow: 0 0 20px #ccc;
  -o-box-shadow: 0 0 20px #ccc;
  -ms-box-shadow: 0 0 20px #ccc;
  box-shadow: 0 0 20px #ccc;
}

.flipbook img {
  width: 100%;
}

.flipbook {
  margin-top: 50px;
}

@media (max-width: 992px) {
  .flipbook {
    margin-top: 10px;
  }
}

.flipbook2 img {
  width: 100%;
}

.flipbook2 {
  margin-top: 50px;
}

@media (max-width: 992px) {
  .flipbook2 {
    margin-top: 10px;
  }
}

.flipbook3 img {
  width: 100%;
}

.flipbook3 {
  margin-top: 50px;
}

@media (max-width: 992px) {
  .flipbook3 {
    margin-top: 10px;
  }
}

.flipbook4 img {
  width: 100%;
}

.flipbook4 {
  margin-top: 50px;
}

@media (max-width: 992px) {
  .flipbook4 {
    margin-top: 10px;
  }
}

.menu1 {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

@media (max-width: 992px) {
  .menu1 {
    width: 100%;
    height: 350px;
  }
}

.misMenus {
  display: flex;
  flex-direction: row;
}

@media (max-width: 992px) {
  .misMenus {
    flex-direction: column;
  }
}

.menu1 .mk {
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu1 .flipbook-viewport {
  width: 100%;
  height: 100%;
}

@media (max-width: 992px) {
  .menu .flipbook-viewport {
    margin-bottom: 0;
  }
}

.menu1 .mk img {
  width: 100%;
}


