.flipbook-viewport {
  width: 100%;
  max-width: 100%;
  position: relative;
  overflow: visible;
  box-sizing: border-box;
}

.flipbook-viewport .container {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* =========================================================
   TAMAÑO DEL MENÚ (FLIPBOOK)
   ========================================================= */
.flipbook-viewport .flipbook {
  width: 800px;
  height: 600px;
  transform-origin: top left;
}

.flipbook-viewport .page {
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.flipbook .page {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.flipbook-viewport .page img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.flipbook-viewport .shadow {
  -webkit-box-shadow: 0 0 20px #ccc;
  -moz-box-shadow: 0 0 20px #ccc;
  box-shadow: 0 0 20px #ccc;
}

.menu1 {
  position: relative;
  width: 100%;
}

.misMenus {
  display: flex;
  flex-direction: row;
}

@media (max-width: 992px) {
  .misMenus {
    flex-direction: column;
  }
}
